.Loader {
  opacity: 1;
  position: fixed;
  top: 40%;
  left: 44.5%;
  color: blue;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px; */
}
